* {
    margin: auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.d-flex-align-items-center img {
    margin-left: 25px;
    height: 45px;
    width: 105px;


}
.nav-item a{
    font-size: 19px;
    text-transform: uppercase;
}
.nav-item a:hover{
    color: #164d53;
    font-weight: bolder;
}
.d-flex-align-items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
}
.d-flex-align-items-center a{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    color: #4e4e4e;
}
.navbar-brand {
    color: #071a1c;
}
.bg-body-tertiary {
   background-color: #e9dcb74e !important;
}
.fa-solid, .fas{
    color: #4e4e4e;
   
}
.fa-regular, .far{
    color: #4e4e4e;
}
.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-image img{
    width: 1521px;
    height: auto;
    object-fit: cover;
}

